body {
    font-family: monospace;
    background-color: #1e1e1e;
    color: #00ff00;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #00ff00;
    padding: 10px;
    text-align: left;
}